
<form name="contact" method="POST" data-netlify="true" id="contactForm">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label for="name" class="label">Name *</label>
                <div class="control">
                <input id="name" class="input" type="text" placeholder="Hey friendo" name="user_name" required=”required”>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label for="email" class="label">Email *</label>
                <div class="control">
                    <input id="email" class="input" type="email" placeholder="hello@" name="user_email" required=”required”>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label for="message" class="label">Message</label>
        <div class="control">
        <textarea id="message" class="textarea" placeholder="What's up? Where's the 'any' key?" name="user_message"></textarea>
        </div>
    </div>
    <div class="field has-text-centered mt-5">
        <div class="control">
            <button class="button is-link" type="submit">Let's Chat</button>
        </div>
    </div>
</form>
<!-- <p class="has-text-centered is-italic is-size-7 mt-5">Rather connect via email? <br><a href="mailto:hello@richardchin.ca">hello@richardchin.ca</a></p> -->