$navbar-item-hover-background-color: transparent;
$navbar-dropdown-item-hover-background-color: transparent;

.navbar-end {
    .navbar-item {
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0px;
            left: 0;
            background-color: $primary;
            visibility: hidden;
            transform: scaleX(0);
            transition: .2s all;
        }
        &:hover {
            &::before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
}
// $navbar-background-color: transparent;
// .navbar {
//     @media (max-width: 768px) {
//         background-color: transparent !important;
//     }
//     .navbar-brand {
//         @media (max-width: 768px) {
//             background-color: white;
//         }
//     }
//     .navbar-menu {
//         @media (max-width: 768px) {
//             background-color: rgba(0,0,0,.9);
//             height: 100vh;
//             .navbar-item {
//                 color: white;
//                 text-align: center;
//             }
//         }
//     }
// }

.skip-nav {
    position: absolute !important;
    z-index: 1000;
    display: inline;
    left: 50%;
    transform: translate(-50%, -400%);
    transition: .3s all;
    &:focus {
        transform: translate(-50%, -110%);
    }
}