.home-section {
    .content {
        h2 {
            font-size: 4rem;
            line-height: 1;
            font-weight: 800;
            position: absolute;
            opacity: .05;
            left: -.5rem;
            top: -2.5rem;
            // z-index: -1;
            @media (min-width: 769px) {
                font-size: 10rem;
                left: -2rem;
                top: -2rem;
            }
        }
        h3 {
            margin-top: 5rem !important;
        }
    }
}