.home-section {
    .content {
        h2 {
            font-size: 4rem;
            line-height: 1;
            font-weight: 800;
            opacity: .15;
            margin-bottom: 0;
            // left: -.5rem;
            // top: 0rem;
            // z-index: -1;
            @media (min-width: 769px) {
                position: absolute;
                opacity: .05;
                font-size: 10rem;
                left: -1.5rem;
                top: -2rem;
            }
        }
        h3 {
            margin-top: 1rem !important;
            @media (min-width: 769px) {
                margin-top: 5rem !important;
            }
        }
    }
    &#facts, &#contact {
        .content {
            h2 {
                @media (min-width: 769px) {
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

#skills {
    .columns {
        @media (min-width: 769px) {
            flex-direction: row-reverse;
        }
    }
}

.fact-title {
    flex-direction: row;
    @media (min-width: 769px) {
        flex-direction: column;
    }
}