<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold is-uppercase is-size-4" href="/">
            <span>Richard</span><span class="has-text-grey-light">Chin</span>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                
            </div>
    
            <div class="navbar-end">
                <a class="navbar-item" href="/#about">About</a>
                <a class="navbar-item" href="/#skills">Skills</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <span class="navbar-link">Portfolio</span>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/portfolio/kira-systems">Kira Systems<a>
                        <a class="navbar-item" href="/portfolio/puggle-is-real">Puggle Is Real<a>
                        <a class="navbar-item" href="/portfolio/subcrawl">Sub Crawl<a>
                    </div>
                </div>
                <a class="navbar-item" href="/#contact">Contact</a>
            </div>
        </div>
    </div>
</nav>