<div class="navfooter">
    <a href="https://www.linkedin.com/in/{{ $.Site.Params.linkedin }}" target="_blank" rel="noopener" aria-label="Visit me on LinkedIn"><i class="fab fa-linkedin is-size-4"></i></a>
    <a href="https://www.instagram.com/{{ $.Site.Params.instagram }}/" target="_blank" rel="noopener" aria-label="Visit me on Instagram"><i class="fab fa-instagram is-size-4"></i></a>
    <a href="https://twitter.com/{{ $.Site.Params.twitter }}" target="_blank" rel="noopener" aria-label="Visit me on Twitter"><i class="fab fa-twitter is-size-4"></i></a>
    <a href="https://github.com/{{ $.Site.Params.github }}" target="_blank" rel="noopener" aria-label="Visit me on Github"><i class="fab fa-github is-size-4"></i></a>
</div>