{{ define "main" }}
<section class="hero is-dark is-fullheight-with-navbar is-bold">
    <div class="hero-body">
        <div class="container has-text-centered-mobile">
            <img src="{{ .Params.hero_icon }}" alt="" width="150" height="150" class="wow rubberBand">
            <h1 class="title is-size-1 wow fadeIn" data-wow-delay=".8s">
                Hello <div style="display: inline-block;" class="wow tada" data-wow-delay="3.2s">&#128075;</div>{{ .Params.headline }}</h1>
            <p class="subtitle wow fadeInUp" data-wow-delay="1.6s">{{ .Params.textline }}</p>
        </div>
    </div>
</section>
<section class="section home-section is-medium" id="about">
    <div class="container">
        <div class="content">
            <div class="columns" style="align-items: center;">
                <div class="column" style="position: relative;">
                    <h2 id="about">About</h2>
                    <h3 class="is-size-3">{{ .Params.about.title }}</h3>
                    {{ .Params.about.content | markdownify }}
                    <div class="buttons mt-5">
                        <a href="/resume/RichardChin-Resume.pdf" class="button is-primary" target="_blank">Download CV <i class="fas fa-arrow-to-bottom ml-2"></i></a><a href="https://www.linkedin.com/in/{{ $.Site.Params.linkedin }}" class="button is-dark is-outlined" rel="noopener" target="_blank">Visit me on LinkedIn <i class="fas fa-external-link ml-2"></i></a>
                    </div>
                </div>
                <div class="column">
                    <img src="/uploads/headshot-rc.jpeg" alt="Profile photo of Richard">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section home-section is-medium has-background-light" id="skills">
    <div class="container">
        <div class="content">
            <div class="columns" style="align-items: center;">
                <div class="column is-offset-1" style="position: relative;">
                    <h2>Skills</h2>
                    <h3>{{ .Params.skills.title }}</h3>
                    {{ .Params.skills.content | markdownify }}
                </div>
                <div class="column is-5">
                    <h6 class="has-text-centered">Dev Stack</h6>
                    <div class="columns is-multiline is-mobile is-centered" style="flex-direction: row;">
                        {{ range .Params.skills.skill }}
                        <div class="column is-3 has-text-centered">
                            {{ if in .icon ".svg" }}
                            <img src="/uploads/{{ .icon }}" alt="" style="max-height: 30px;">
                            {{ else }}
                            <i class="fab fa-{{ .icon }} fa-2x has-text-primary"></i>
                            {{ end }}
                            <p class="is-size-7">{{ .tool }}</p>
                        </div>
                        {{ end }}
                    </div>
                    <h6 class="has-text-centered">Martech Stack</h6>
                    <div class="columns is-multiline is-mobile is-centered" style="flex-direction: row;">
                        {{ range .Params.skills.martech }}
                        <div class="column is-3 has-text-centered">
                            {{ if in .icon ".svg" }}
                            <img src="/uploads/{{ .icon }}" alt="" style="max-height: 30px;">
                            {{ else }}
                            <i class="fab fa-{{ .icon }} fa-2x has-text-info"></i>
                            {{ end }}
                            <p class="is-size-7">{{ .tool }}</p>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section home-section is-medium has-background-dark" id="works">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column" style="position: relative;">
                    <h2>Works</h2>
                    <h3>Latest Projects</h3>
                    <div class="columns">
                        {{ range first 6 (where site.RegularPages "Section" "portfolio" ) }}
                        {{ $src := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.thumb ) }}

                        {{ $tinyw := default "320x webp" }}
                        {{ $smallw := default "600x webp" }}
                        {{ $mediumw := default "1200x webp" }}

                        {{ $resizedtiny := $src.Resize $tinyw }}
                        {{ $resizedsmall := $src.Resize $smallw }}
                        {{ $resizedmedium := $src.Resize $mediumw }}
                        <div class="column">
                            <a href="{{ .Permalink }}" class="item-wrapper">
                                <img 
                                srcset="
                                    {{ $resizedtiny.RelPermalink }} 320w,
                                    {{ $resizedsmall.RelPermalink }} 600w,
                                    {{ $resizedmedium.RelPermalink }} 1200w
                                    "
                                src="{{.Params.thumb}}" class="item-image" alt="{{ .Title }}" loading="lazy">
                                <div class="item-caption">
                                    <p class="is-size-5">{{ .Title }}</p>
                                    <p class="is-size-7 has-text-primary">{{ .Params.portfolio_type }}</p>
                                </div>
                            </a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section home-section is-medium" id="facts">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column" style="position: relative;">
                    <h2>Rando Facts</h2>
                    <h3 class="has-text-centered-tablet">{{ .Params.facts.title | markdownify }}</h3>
                    {{ .Params.facts.content | markdownify }}
                    <div class="columns">
                        {{ range .Params.facts.fact }}
                        <div class="column mt-5">
                            <div class="columns fact-title is-mobile is-vcentered">
                                <div class="column is-2-mobile">
                                    <i class="fal {{ .icon }} has-text-primary fa-2x"></i>
                                </div>
                                <div class="column pt-0-tablet">
                                    <p class="has-text-weight-bold is-size-5 has-text-centered-tablet">{{ .title | markdownify }}</p></div>
                            </div>
                            <p>{{ .content | markdownify }}</p>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section home-section is-medium has-background-dark" id="contact">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column" style="position: relative;">
                    <h2>Get in Touch</h2>
                    <h3 class="has-text-centered">Shoot me a quick message and let's connect!</h3>
                    <div class="columns is-centered">
                        <div class="column is-10-tablet is-8-desktop is-6-widescreen">
                            {{ partial "components/contact-form.html" . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}