{{ define "main" }}
<section class="hero is-dark is-fullheight is-bold">
    <div class="hero-body">
        <div class="container has-text-centered-mobile">
            <img src="{{ .Params.hero_icon }}" alt="" width="150" height="150">
            <h1 class="title is-size-1">
                <!-- <span id="greeting"></span> -->
                Hello &#128075;{{ .Params.headline }}</h1>
            <p class="subtitle">{{ .Params.textline }}</p>
        </div>
    </div>
</section>
<section class="section home-section is-medium" id="about">
    <div class="container">
        <div class="content">
            <div class="columns" style="align-items: center;">
                <div class="column" style="position: relative;">
                    <h2 id="about">About</h2>
                    <h3 class="is-size-3">{{ .Params.about.title }}</h3>
                    {{ .Params.about.content | markdownify }}
                    <div class="buttons">
                        <a href="" class="button is-primary">Download CV <i class="fas fa-arrow-to-bottom ml-2"></i></a><a href="https://www.linkedin.com/in/{{ $.Site.Params.linkedin }}" class="button is-dark is-outlined" rel="noopener" target="_blank">Visit me on LinkedIn <i class="fas fa-external-link ml-2"></i></a>
                    </div>
                </div>
                <div class="column">
                    <img src="/uploads/headshot-rc.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section home-section is-medium has-background-light" id="skills">
    <div class="container">
        <div class="content">
            <div class="columns" style="align-items: center;">
                <div class="column is-offset-1" style="position: relative;">
                    <h2>Skills</h2>
                    <h3>{{ .Params.skills.title }}</h3>
                    {{ .Params.skills.content | markdownify }}
                </div>
                <div class="column is-5">
                    <p class="has-text-centered">Dev Stack</p>
                    <div class="columns is-multiline is-mobile is-centered" style="flex-direction: row;">
                        {{ range .Params.skills.skill }}
                        <div class="column is-3 has-text-centered">
                            <i class="fab fa-{{ .icon }} fa-2x has-text-primary"></i>
                            <p class="is-size-7">{{ .tool }}</p>
                        </div>
                        {{ end }}
                    </div>
                    <p class="has-text-centered">Martech Stack</p>
                    <div class="columns is-multiline is-mobile is-centered" style="flex-direction: row;">
                        {{ range .Params.skills.martech }}
                        <div class="column is-3 has-text-centered">
                            <i class="fab fa-{{ .icon }} fa-2x has-text-info"></i>
                            <p class="is-size-7">{{ .tool }}</p>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="section home-section is-medium px-0" id="portfolio">
    <div class="content">
        <div class="tile is-ancestor is-gapless">
            <div class="tile is-vertical is-8">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title">Vertical...</p>
                        <p class="subtitle">Top tile</p>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">...tiles</p>
                        <p class="subtitle">Bottom tile</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Middle tile</p>
                        <p class="subtitle">With an image</p>
                        <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                        </figure>
                    </article>
                </div>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Wide tile</p>
                    <p class="subtitle">Aligned with the right tile</p>
                    <div class="content">
                        asdf
                    </div>
                </article>
              </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                    <div class="content">
                    <p class="title">Tall tile</p>
                    <p class="subtitle">With even more content</p>
                    <div class="content">
                        asdf
                    </div>
                    </div>
                </article>
            </div>
          </div>
    </div>
</section> -->
<section class="section home-section is-medium has-background-dark" id="works">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column" style="position: relative;">
                    <h2>Works</h2>
                    <h3>Latest Projects</h3>
                    <div class="columns">
                        <div class="column">
                            <img src="http://via.placeholder.com/400x400" alt="">
                        </div>
                        <div class="column">
                            <img src="http://via.placeholder.com/400x400" alt="">
                        </div>
                        <div class="column">
                            <img src="http://via.placeholder.com/400x400" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section home-section is-medium" id="facts">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column" style="position: relative;">
                    <h2>Rando Facts</h2>
                    <h3 class="has-text-centered">{{ .Params.facts.title | markdownify }}</h3>
                    {{ .Params.facts.content | markdownify }}
                    <div class="columns">
                        {{ range .Params.facts.fact }}
                        <div class="column">
                            <p class="has-text-centered mb-2"><i class="fal {{ .icon }} has-text-primary fa-2x"></i></p>
                            <p class="has-text-weight-bold is-size-5 has-text-centered">{{ .title | markdownify }}</p>
                            <p>{{ .content | markdownify }}</p>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section home-section is-medium has-background-dark" id="contact">
    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column" style="position: relative;">
                    <h2>Get in Touch</h2>
                    <h3 class="has-text-centered">Shoot me a quick message and let's connect!</h3>
                    <div class="columns is-centered">
                        <div class="column is-8">
                            <form action="">
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <label class="label">Name *</label>
                                            <div class="control">
                                            <input class="input" type="text" placeholder="Hey friendo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label class="label">Email *</label>
                                            <div class="control">
                                                <input class="input" type="email" placeholder="hello@">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Message</label>
                                    <div class="control">
                                    <textarea class="textarea" placeholder="What's up? Where's the 'any' key?"></textarea>
                                    </div>
                                </div>
                                <div class="field has-text-centered mt-5">
                                    <div class="control">
                                        <button class="button is-link">Let's Chat</button>
                                    </div>
                                </div>
                            </form>
                            <p class="has-text-centered is-italic is-size-7 mt-5">Rather connect via email? <br><a href="mailto:hello@richardchin.ca">hello@richardchin.ca</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}